In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from date import Date



# '2015-10-10T13:00:00Z'
df = pd.read_json("activities.json", dtype=True)
df['start_date'] = df['start_date'].map(Date)
rides = df[df.type == 'Ride']
rides['weekNumber'] = rides['start_date'].apply(lambda x: x.weekNumber)
rides['month']= rides['start_date'].apply(lambda x: x.month)
rides['year'] = rides['start_date'].apply(lambda x: x.year)

C:\Users\Sigpit\Anaconda3\envs\datascience\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\Sigpit\Anaconda3\envs\datascience\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\Sigpit\Anaconda3\envs\datascience\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [3]:

dataForVis = rides[['weekNumber', 'month', 'year', 'start_date', 'distance', 'total_elevation_gain', 'elapsed_time', 'pr_count', 'average_speed', 'average_watts', 'average_temp']]
count = pd.Series(1, index=dataForVis.index)
dataForVis['count'] = count

dataForVis['distance'] = dataForVis['distance'] / 1609
dataForVis['total_elevation_gain'] = dataForVis['total_elevation_gain'] * 3.28083
dataForVis['average_speed'] = dataForVis['average_speed'] * 2.23694
dataForVis['average_temp'] = (dataForVis['average_temp'] * (9/5)) + 32

C:\Users\Sigpit\Anaconda3\envs\datascience\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Sigpit\Anaconda3\envs\datascience\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sigpit\Anaconda3\envs\datascience\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Sigpit\Anaconda3\envs\datascience\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sigpit\Anaconda3\envs\datascience\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [279]:
# rides.hist(column=rides.select_dtypes(include=['float64']).columns)
numberCols = rides.select_dtypes(include=['float64'])
numberCols = numberCols.drop(columns=['elev_high', 'elev_low', 'from_accepted_tag', 'start_latitude', 'start_longitude', 'workout_type', 'device_watts'])

In [280]:
grouping = dataForVis.groupby(['year', 'month'])

rides_by_month = grouping.mean()
totals = grouping.sum()[['pr_count', 'distance', 'total_elevation_gain', 'elapsed_time', 'count']]
rides_by_month[['pr_count', 'distance', 'total_elevation_gain', 'elapsed_time', 'count']] = totals

## Filling in missing data using new index
monthNumbers = list(range(0,12))
years = rides['year'].unique()
newIndexList = [(y, m) for m in monthNumbers for y in years]
new_index = pd.MultiIndex.from_tuples(newIndexList, names=['year', 'month'])
rides_by_month = rides_by_month.reindex(new_index)
rides_by_month.fillna(0, inplace=True)

rides_by_month.reset_index(inplace=True)
rides_by_month.to_csv('./docs/rides_by_month.csv')

In [281]:
grouping = dataForVis.groupby(['year', 'weekNumber'])

rides_by_week = grouping.mean()
totals = grouping.sum()[['pr_count', 'distance', 'total_elevation_gain', 'elapsed_time', 'count']]
rides_by_week[['pr_count', 'distance', 'total_elevation_gain', 'elapsed_time', 'count']] = totals

## Filling in missing data using new index
weekNumbers = list(range(0,52))
years = rides['year'].unique()
newIndexList = [(y, w) for w in weekNumbers for y in years]
new_index = pd.MultiIndex.from_tuples(newIndexList, names=['year', 'weekNumber'])
rides_by_week = rides_by_week.reindex(new_index)
rides_by_week.fillna(0, inplace=True)
rides_by_week.reset_index(inplace=True)
rides_by_week.to_csv('./docs/rides_by_week.csv')

In [4]:
selected = rides[['average_heartrate', 'average_speed', 'weighted_average_watts', 'distance', 'kilojoules', 'max_watts']]

In [19]:
## Save to Json

rides_by_week.to_json("./docs/rides_by_week.json", orient='records')
rides_by_month.to_json("./docs/rides_by_month.json",orient='records')

NameError: name 'rides_by_week' is not defined

In [5]:
selectedAttributes = rides[['distance', 'total_elevation_gain', 'average_watts', 'average_speed',
                            'start_date', 'average_temp', 'average_cadence', 'moving_time', 'pr_count',
                           'month', 'year', 'weekNumber', 'id']]

In [6]:
rides.columns

Index(['achievement_count', 'athlete', 'athlete_count', 'average_cadence',
       'average_heartrate', 'average_speed', 'average_temp', 'average_watts',
       'comment_count', 'commute', 'device_watts',
       'display_hide_heartrate_option', 'distance', 'elapsed_time',
       'elev_high', 'elev_low', 'end_latlng', 'external_id', 'flagged',
       'from_accepted_tag', 'gear_id', 'has_heartrate', 'has_kudoed',
       'heartrate_opt_out', 'id', 'kilojoules', 'kudos_count', 'location_city',
       'location_country', 'location_state', 'manual', 'map', 'max_heartrate',
       'max_speed', 'max_watts', 'moving_time', 'name', 'photo_count',
       'pr_count', 'private', 'resource_state', 'start_date',
       'start_date_local', 'start_latitude', 'start_latlng', 'start_longitude',
       'timezone', 'total_elevation_gain', 'total_photo_count', 'trainer',
       'type', 'upload_id', 'utc_offset', 'visibility',
       'weighted_average_watts', 'workout_type', 'weekNumber', 'month',
       'year'],
      dtype='object')

In [8]:
selectedAttributes.to_json('rides.json', orient='records')

In [7]:
selectedAttributes

,distance,total_elevation_gain,average_watts,average_speed,start_date,average_temp,average_cadence,moving_time,pr_count,month,year,weekNumber,id
8,13518.5,0.0,NaN,7.510,2015 9 10 40,NaN,NaN,1800,0,9,2015,40,410281414
10,12391.9,0.0,NaN,6.884,2015 9 9 39,NaN,NaN,1800,0,9,2015,39,410904887
11,18829.3,0.0,NaN,6.276,2015 9 8 39,NaN,NaN,3000,0,9,2015,39,409111739
13,16898.1,0.0,NaN,7.041,2015 9 6 39,NaN,NaN,2400,0,9,2015,39,407717016
47,5310.9,0.0,NaN,6.960,2015 9 26 42,NaN,NaN,763,0,9,2015,42,420887313
48,21243.4,0.0,NaN,8.373,2015 9 26 42,NaN,NaN,2537,0,9,2015,42,420886670
50,19634.0,0.0,NaN,7.337,2015 9 23 41,NaN,NaN,2676,0,9,2015,41,418780367
51,12070.1,0.0,NaN,6.706,2015 9 22 41,NaN,NaN,1800,0,9,2015,41,418779839
54,10943.6,0.0,NaN,4.034,2015 9 17 41,NaN,NaN,2713,0,9,2015,41,414674057
90,19795.0,0.0,NaN,7.855,2016 3 8 13,NaN,NaN,2520,0,3,2016,13,539460595
91,19795.0,0.0,NaN,7.855,2016 3 8 13,NaN,NaN,2520,0,3,2016,13,539460579
119,19151.2,0.0,NaN,7.980,2016 4 12 18,NaN,NaN,2400,0,4,2016,18,574000730
121,13892.0,13.5,65.1,5.537,2016 4 9 18,NaN,NaN,2509,0,4,2016,18,571010632
122,16576.3,0.0,NaN,8.008,2016 4 6 17,NaN,NaN,2070,0,4,2016,17,567598908
123,27358.9,0.0,NaN,7.600,2016 4 5 17,NaN,NaN,3600,0,4,2016,17,566689459
135,21082.4,0.0,NaN,7.677,2016 3 26 16,NaN,NaN,2746,0,3,2016,16,557612810
143,13357.6,0.0,NaN,6.184,2016 3 14 14,NaN,NaN,2160,0,3,2016,14,545535822
150,3866.2,14.4,111.5,7.717,2016 5 16 23,NaN,NaN,501,1,5,2016,23,611323639
152,4819.5,25.0,123.0,6.846,2016 5 16 23,NaN,NaN,704,0,5,2016,23,611204591
153,16846.1,79.4,147.3,8.033,2016 5 16 23,NaN,NaN,2097,2,5,2016,23,611158831
162,48713.1,207.0,114.8,7.080,2016 5 8 22,NaN,NaN,6880,0,5,2016,22,602882020
163,16980.3,79.2,158.2,8.235,2016 5 7 22,NaN,NaN,2062,6,5,2016,22,601593627
165,3369.4,45.6,138.8,6.430,2016 5 3 21,NaN,NaN,524,0,5,2016,21,601592164
166,3022.6,0.0,104.1,5.757,2016 5 2 21,NaN,NaN,525,0,5,2016,21,601591913
167,17010.0,78.7,135.5,7.659,2016 5 2 21,NaN,NaN,2221,3,5,2016,21,596182078
168,43431.4,118.2,109.8,7.040,2016 5 1 21,NaN,NaN,6169,0,5,2016,21,595214275
169,7882.1,41.2,127.0,7.140,2016 4 31 21,NaN,NaN,1104,0,4,2016,21,594361260
170,3426.8,14.7,119.8,7.037,2016 4 31 21,NaN,NaN,487,0,4,2016,21,594297702
171,9931.4,66.3,131.4,6.784,2016 4 31 21,NaN,NaN,1464,0,4,2016,21,594127014
172,7563.9,0.0,NaN,5.043,2016 4 23 20,NaN,NaN,1500,0,4,2016,20,585783634
...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,4920.5,23.0,182.7,8.340,2018 7 2 30,23.0,90.5,590,0,7,2018,30,1743913313
681,38255.7,253.0,195.2,8.438,2018 7 1 30,23.0,88.7,4534,4,7,2018,30,1743680060
682,53819.6,408.6,215.6,9.450,2018 6 31 30,13.0,92.0,5695,20,6,2018,30,1739703728
683,48373.4,383.0,210.4,8.533,2018 6 29 30,24.0,91.5,5669,6,6,2018,30,1736237730
684,40642.1,309.0,192.2,7.961,2018 6 27 29,24.0,86.9,5105,3,6,2018,29,1732034765
685,7810.1,41.0,149.1,7.126,2018 6 25 29,22.0,85.7,1096,0,6,2018,29,1727989315
686,21059.3,125.0,235.5,8.946,2018 6 25 29,23.0,87.7,2354,1,6,2018,29,1727945717
687,32446.8,180.0,228.9,9.135,2018 6 24 29,25.0,89.5,3552,5,6,2018,29,1725648680
688,17087.6,104.0,163.9,7.581,2018 6 22 29,23.0,87.0,2254,0,6,2018,29,1721274042
689,21754.6,200.0,189.9,7.614,2019 1 4 4,10.0,85.8,2857,0,1,2019,4,2124486870
698,9232.0,217.0,136.5,4.670,2018 9 9 40,18.0,65.3,1977,0,9,2018,40,1895015714
699,26454.7,330.0,178.7,7.394,2018 9 4 39,19.0,86.5,3578,0,9,2018,39,1884397225
701,23486.7,360.0,214.2,7.860,2018 8 29 38,18.0,88.5,2988,1,8,2018,38,1873449743
702,28914.4,418.7,181.6,7.427,2018 8 27 38,NaN,86.4,3893,1,8,2018,38,1869717235
703,27302.5,325.9,210.1,8.170,2018 8 24 38,10.0,88.8,3342,0,8,2018,38,1863443334
704,85083.0,1268.9,189.8,7.465,2018 8 23 38,12.0,87.1,11398,15,8,2018,38,1861597317
705,1105.4,12.7,190.0,6.866,2018 8 23 38,21.0,79.7,161,0,8,2018,38,1861587287
706,7043.9,132.7,89.4,2.602,2018 8 22 37,NaN,NaN,2707,0,8,2018,37,1857256928
707,11696.6,191.6,130.9,3.203,2018 8 19 37,NaN,NaN,3652,1,8,2018,37,1853128136
708,12202.2,201.0,72.6,3.587,2018 8 19 37,NaN,NaN,3402,1,8,2018,37,1852125959
709,18471.3,848.8,72.1,3.201,2018 8 16 37,NaN,NaN,5770,4,8,2018,37,1846684559
710,5342.4,142.6,177.4,3.627,2018 8 16 37,NaN,NaN,1473,0,8,2018,37,1845619867
711,1625.1,41.0,121.8,3.270,2018 8 16 37,NaN,NaN,497,0,8,2018,37,1845618553
712,13405.4,412.0,91.2,2.880,2018 8 15 36,18.0,NaN,4654,0,8,2018,36,1843274273
713,6904.9,106.0,130.6,3.937,2018 8 15 36,14.0,NaN,1754,0,8,2018,36,1842015492
714,14625.7,239.9,100.5,3.373,2018 8 12 36,NaN,NaN,4336,0,8,2018,36,1837665110
715,20310.6,728.1,213.5,4.591,2018 8 9 36,15.0,NaN,4424,0,8,2018,36,1831389735
716,8814.9,253.0,124.8,3.622,2018 8 9 36,13.0,NaN,2434,1,8,2018,36,1830559549
717,4273.7,54.0,117.1,3.503,2018 8 8 35,23.0,NaN,1220,0,8,2018,35,1827987395
718,5996.6,385.5,53.3,1.491,2018 8 8 35,20.0,NaN,4022,0,8,2018,35,1827784204